*    {
    margin:0;
    font-family: "Times New Roman";
}
body {  
     overflow-x:hidden !important;
}
li {
    list-style: none;
}
.logo {
    padding-bottom:10px;
}
.menu > li {
    padding:11px;
    color:black;
    font-weight: bold;
    font-size: 14px;
    font-weight: 600;
   }
.logo {
    width:234px;
    max-width:234px;
    }
.link {
    color:black !important;
    }
.menulist {
    float:right !important;
    }
.menu {
        position:relative;
        top:18px;
    }
.mainimage {
    background-image:url('city.jpg');
    height:430px;
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
}
 .accountheader {
    color: #331c86 !important;
}
.accountimg {
width:477px;
height:400px;
padding:20px 0px 20px 0px;
}
h1 {
    color:white !important;
    text-align:center;
    font-size: 33px !important;
    font-weight: 600 !important;
}
.innerimg > h2 {
    color:white !important;
    text-align:center;
    font-weight: 500 !important;
    font-size: 25px !important;
    line-height: 1px;
}
.mainbutton {   
     border-style: solid;
    border-width: 2px;
    background-color: #F9681B;
    color: #fefefe;
    min-width: 10rem;
    font-size: 18px !important;
    border-radius: 35px !important;
    padding: 10px 30px !important;
    border-color: #F9681B;
}
.btn{ 
    text-align:center;
   width:100%;
 }
p {
   font-size: 16px;
   font-weight: 550;
}
.cloudbtn  {  
    border-style: solid;
  border-width: 2px;
  background-color: #F9681B;
  color: #fefefe;
  min-width: 10rem;
  font-size: 18px !important;
  border-radius: 35px !important;
  padding: 10px 30px !important;
  border-color: #F9681B;
}
.videosection {  
    background-color: #331C86;
    position:relative;
    }
.videoheader{ 
    text-align:left;
}
.videoinner {
    color:white;
}
.videotextdiv {
    padding-top:30px;
}
.banktext { 
    max-width:700px !important;
    padding: 30px 0px 30px 0px;
}
.bankimage {
    width:200px;
    padding-left:80px;
}
.bankdiv { 
    height: 150px;
}
.cloudimg {
    width:380px;
    height:400px;
}
.cloudsection {
    background-color: #5940C3;
    padding: 30px 0px 30px 0px;
}
.cloudheader {
    color:white;
    text-align:left;
}
.cloudinner {
    color:white;
}
.cloudtext {
    color:white;
}
.cardimg {
    width:200px;
    max-width:80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cardheader {
    color:#331c86;
    text-align:center;
}
.card-text {
    text-align:center;
    min-width:200px;
    max-height:80px !important;
    }
.card-title {
    min-width:201px;
    text-align:left;
}
.cardsection {
    border:none !important;  
    max-width:280px;
    min-height:500px;
}
.reportimg {
    background-color:#cecece;
}
.blogsection {
    background-color:#f2f2f2;
    padding-bottom:50px;
    margin-top:-21px;
 }
 .blogtitle {
    font-size: 24px;
    line-height: 28px;  
    color: #331c86;
    font-weight:540;
    text-align:center;
  }
.footersection  {
    background-color:#5940C3;
    padding: 30px 30px 40px 30px;
}
.footerlist > li {
 color:white;
}
.rights {
 font-size: 13px;
}
.contactbtn {
 background-color:white;
 color:#5940C3;
 width:130px;
 height:50px;
}
.contactbtndiv {
    margin-top:20px;
}
.footerlinks, .rights { 
display: flex;
justify-content: center;
color:white;
}
.faicons {
 padding:0px 20px 20px 0px !important;
}
.icons {
text-align:center;
color:white;
padding: 0px 0px 15px 0px !important;
}
.footerborder { 
border-bottom: white solid 1px;
padding-top:30px;
}
.footerlinks > li {
 display:inline;
 padding-left:15px !important;
 color:white;
 text-decoration:underline;
}
.footerimg {
     padding-left:27px;
}
.footerlist > li:first-child { 
    font-weight: bold;
}
.mediainfo { 
    padding: 30px 0 30px 0;
}
.innerimg {
    padding-top:30px;
}
.viddiv {
    position:relative;
}
.video {
    position:absolute;
    top:22px;
}
.cardheader {padding-top:30px;
}

.carddiv {
    padding-top:30px;
}
.navbar {
    position:relative;
}
.accountsection{
    position:relative;
}
.navdiv {
    min-height:85px;
}
@media (min-width:350px) and (max-width:766px) {  /*mobile view*/
    .accountimg {
        max-width:350px;
        display:block;
        margin: 0 auto;
    }
    .video {
        max-width:310px;
        text-align:center;
        display:block;
        margin: 0 auto;
    }
    .clbtn {
        margin-bottom:20px;
    }
    .menulist {
        padding-top:10px;
    }
    .cloudimg {width:300px; 
        display:block;
        margin: 0 auto;
    }
    .card{
        display:block !important;
        margin: 0 auto !important;
        margin-bottom:20px !important;
    }
    .videosection {
        height:600px;
    }
    .blogsection{
        height:1700px;
    }
    .contactbtndiv {
        padding-bottom:20px;
    }
    .menulist{
        position:absolute;
        top:15;
        left:15;
    }
    .collapse {
        min-height:250px;
    }
    .navbar-toggler{
    position:absolute;
    top:0;
    left:15;
    margin-top:10px !important;
    }
    .footerlogobtn{
        position:absolute;
        left:35px;
    } 
    .footerdiv{
        position:relative;
    }
    .videotextdiv{
        position:absolute;
        top:250px;
    }
}
@media (min-width:767px) and (max-width:993px) {  /*tablet view*/
    .accountimg {
        display:block;
        margin: auto;
    }
    .video {
        display:block;
        margin: 0 auto;
        padding-top:30px;
    }
    .clbtn {
        margin-bottom:20px;
    }
    .cloudimg {
        display:block;
        margin: 0 auto;
    }
    .videosection {
        height:570px;
    }
    .blogsection{
        height:700px;
    }
    .menulist{
        position:absolute;
        top:15;
        left:15;
    }
    .collapse {
        min-height:280px;
    }
    .navbar-toggler{
    position:absolute;
    top:0;
    left:15;
    margin-top:10px !important;
    }
    .videotextdiv{
        position:absolute;
        top:330px;
    }
}
@media (min-width:994px) { /*desktop view*/
    .videosection {
        height:400px;
    }
    .blogsection{
        height:700px;
    }
    .menulist > li {
        padding-right:9px;
    }
    .solutionlink {
        position: relative;
        top:10px;
    }
}
@media (min-width:994px) and (max-width:1198px) {
    .clbtn {
        margin-bottom:20px;
    }
    .cloudimg {
        width:310px;
    }
    .videotextdiv{
        position:absolute;
        left:60px;
    }
    .accounttext {
        position:absolute;
        left:60px;
    }
}
    