*    {
    font-family: "Montserrat",sans-serif;
    margin:0;
}

body {  
     overflow-x:hidden !important;
}

li {
    list-style: none;
}

.menu > li {
    padding:11px;
    color:black;
    font-weight: bold;
    font-size: 14px;
    font-weight: 600;
    padding-top:45px !important;
   }

.logo {
    width:234px;
    max-width:234px;
    }

.link {
    color:black !important;
    }

.menulist {
    float:right !important;
    }

.mainimage {
    background-image:url('city.jpg');
    height:430px;
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
 }

 h1 {
     color:white !important;
    text-align:center;
    font-size: 33px !important;
    font-weight: 600 !important;
}

.innerimg > h2 {
    color:white !important;
    text-align:center;
    font-weight: 500 !important;
    font-size: 25px !important;
    line-height: 1px;
}

.button1 {   
     border-style: solid;
    border-width: 2px;
    background-color: #F9681B;
    color: #fefefe;
    min-width: 10rem;
    font-size: 18px !important;
    border-radius: 35px !important;
    padding: 10px 30px !important;
    border-color: #F9681B;
}

.btn{ 
    text-align:center;
   width:100%;
 }

 .innerimg {
     padding-top:40px;
 }

p     {
    font-size: 16px;
    font-weight: 550;
    }
    
    .cardimg {
        width:200px;
        max-width:80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position:relative;
        left:26px;
    }
    
    .footer {
        color:#F9681B;
    text-align: right;
}
    
    .card-text {
        text-align:center;
        min-width:200px;
        max-height:80px !important;
        
    }

    i {
         padding:0px 20px 20px 0px !important;
    }

    .navbar-brand {
        padding: 0px 0px 10px 110px !important;
    }


 .card-title {
     min-width:201px;
  text-align:left;
}

.videosection {  
    background-color: #331C86;
    padding-bottom:60px;
}

.videoh1{ 
    text-align:left;
}

.videopara {
    color:white;
}

.videocont {
    padding-top:30px;
}

.vid {
    margin-top:40px;
}

.cloudimg {
    width:380px;
    height:400px;
}

.cloudsection {
    background-color: #5940C3;
    padding: 30px 0px 60px 0px;
}

.cloudh1 {
    color:white;
    text-align:left;
}

.cloudh2 {
    color:white;
}

.cloudpara {
    color:white;
}

.cloudbtn  {  
      border-style: solid;
    border-width: 2px;
    background-color: #F9681B;
    color: #fefefe;
    min-width: 10rem;
    font-size: 18px !important;
    border-radius: 35px !important;
    padding: 10px 30px !important;
    border-color: #F9681B;
}

.enterprisepar { 
    max-width:700px !important;
    padding: 30px 0px 50px 0px;
}

.enterprise {
    padding-left:90px !important;
    padding-bottom:100px;
}

.bankimage {
    width:200px;
    padding-left:80px;
}

.mediainfo { 
    margin-top:-110px;
    padding-bottom:60px;
}

.blogsection {
    background-color:#f2f2f2;
    padding-bottom:50px;
    margin-top:-21px;
 }

 .reportimg {
     background-color:#cecece;
 }

 .cardimg {
     position:relative; 
     right:-28px;
    min-height:100px;
}

    .cardsection {
        border:none !important;  
        max-width:280px;
        min-height:500px;
    }

    .cardh2 {
        color:#331c86;
        text-align:center;
        padding:70px 0px 70px 0px;
    }

    .blogtitle {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
        color: #331c86;
        font-weight:540;
        text-align:center;
      
    }

    .bottomfooter {
        background-color:#5940C3;
        padding: 30px 50px 0px 50px;
 }

 .footerlist > li {
     color:white;
 }

 .rights {
     font-size: 13px;
 }

 .contactbtn {
     background-color:white;
    color:#5940C3;
    width:130px;
    height:50px;
    margin-top:20px;
}

.footerlinks, .rights { 
    display: flex;
    justify-content: center;
    color:white;
}

i {
     padding:0px 20px 20px 0px !important;
}

.icons {
    text-align:center;
    color:white;
    padding: 0px 0px 15px 75px !important;
}

.footer3 { 
    border-bottom: white solid 1px;
    margin-bottom:150px;
    margin-top:50px;
 }
 .footerlinks > li {
     display:inline;
        padding-left:15px !important;
        color:white;
        text-decoration:underline;
    }

    .footerimg {
         padding-left:27px;
    }

    .bankcol { 
        height: 150px;
    }

    .accounth1 {
        color: #331c86 !important;
    }
    
.accountimg {
    width:477px;
    height:400px;
    padding:20px 0px 20px 0px;
}
    
 .footerlist > li:first-child { 
     font-weight: bold;
}


@media (min-width:350px) and (max-width:766px) {  /*mobile view*/
    .accountimg {
        max-width:350px;
        display:block;
        margin: 0 auto;
    }
    .vid {
        max-width:310px;
        text-align:center;
        display:block;
        margin: 0 auto;
    }
    .videocont {
        margin-top:-50px;
    }
    .cloudimg {width:300px; 
        display:block;
        margin: 0 auto;
}
.clbtn {
    margin-bottom:20px;
}
.card{
    display:block !important;
    margin: 0 auto !important;
    margin-bottom:25px !important;
}
.list1 { 
    padding-top:25px;
}
}

@media (min-width:767px) and (max-width:993px) {  /*tablet view*/
    .accountimg {
        display:block;
        margin:  auto;
    }
    .clbtn {
        margin-bottom:20px;
    }
    .vid {
        display:block;
        margin: 0 auto;
        padding-top:30px;
    }
    .cloudimg {
        display:block;
        margin: 0 auto;
    }
}

@media (min-width:994px) and (max-width:1198px) {
    .accountcol {
        padding-left:40px !important;
    }
    .clbtn {margin-bottom:20px;
    }

    .videocont {
        padding-left:60px !important;
    }
    .cloudimg {
        width:310px;
    }
}

